<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :menu_name %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level, id: :menu_level %>
  </div>

  <div class="field">
    <%= form.label :parent %>
    <%= form.number_field :parent, id: :menu_parent %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.text_field :icon, id: :menu_icon %>
  </div>

  <div class="field">
    <%= form.label :path %>
    <%= form.text_field :path, id: :menu_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
