<!DOCTYPE html>
<html>
  <head>
    <title>SavingProjection</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Savings Projection</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul id="MenuBar" class="nav navbar-nav">
        <%@menu_bar.each do |menu|%>
        <% if menu.childs.count > 0 then%>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= menu.name %>
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% menu.childs.each do |child| %>
                <li><%= link_to child.name, child.path %></li>
                <% end %>
              </ul>
          </li>
          <%else%>
          <li><%= link_to menu.name, menu.path %></li> 
          <%end%>
        <% end %>
      </ul>
      <ul id="userControl" class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><p class="navbar-text">Logged in as <%= current_user.email %>.</p></li>
          <li><%= link_to '<i class="glyphicon glyphicon-log-out"></i>Log Out'.html_safe, logout_path %></li>
        <% else %>
          <li><%= link_to '<i class="glyphicon glyphicon-user"></i> Sign Up'.html_safe, signup_path %></li>
          <li><%= link_to '<i class="glyphicon glyphicon-log-in"></i> Log In'.html_safe, login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
 
    <%= yield %>
  </body>
</html>
